:root{
	--color-primary:		#0057ff;
	--color-secundary:		#00DDF4;

	--color-red:                  	#FF7941;
	--color-green: 			#77e0b5;
	--color-blue:                  	#DFEAEE;
	--color-pink:				#FFB5A8;
	--color-yellow:			#ffc776;

	--color-text:				#212121;
	--color-text-light:		#737373;
	--color-text-black:		#000000;

	--color-body:			#fff;
	--body-line-height:		1.5;
	--body-size-text:		1rem;

	--title: 					'Marcellus', serif;
	--title-bold: 				'Marcellus', serif;

	--text: 					'Manrope', sans-serif;
	--text-light: 				'Manrope', sans-serif;
	--text-bold: 				'Manrope', sans-serif;

	--text-serif: 				'Merriweather', serif;
	--text-mono:			'Roboto Mono', monospace;

	--color-link: 				#0057ff;
	--color-link-hover: 		#00DDF4;

	--color-accent:			#DFEAEE;
	--color-divider:			#BDBDBD;
	--color-elements:		#222;

	--color-placeholder:		#757575;
	--color-selection-bg:		#182E7D;
	--color-selection-text: 	#ffffff;
}